*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: #f2f2f2;
}

a{
    text-decoration: none;
}

/* page header */

.logo{
    width: 30vw;
}

.cart-icon{
    width: 5vw;
}

.login{
    margin-top: 1.5vw;
    border: none;
    font-size: 17px;
    background-color: transparent;
    cursor: pointer;
}

.menu{
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 3px limegreen;
}

.header-links{
    display: flex;
}

.header-links li{
    margin: 20px;
    list-style: none;
}

.space{
    margin-top: 40px;
}

.cointainer-parallax{
    margin-bottom: 35px;
}

.parallax{
    background: url("../parallax-bg.jpg") no-repeat center;
    height: 40vw;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
    font-size: 24px;
    color: white;
    text-align: center;
}

.parallax p{
    padding-top: 15vw;
    font-weight: bold;
}

/* searchbox */

.search-box{
    display: flex;
    margin-left: 20vw;
}

#search-icon{
    width: 35px;
}

#gsearch{
    width: 50vw;
    height: 35px;
}

/* aside */

nav{
    padding: 15px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 3px limegreen;
}

.ul-categories li{
    margin-top: 10px;
    list-style: none;
}

.ul-categories li button, .ul-categories2 button{
    background-color: transparent;
    border: none;
}

.ul-categories2 li{
    margin-top: 2px;
    list-style: none;
}

h1{
    font-size: 28px;
    border-bottom: 5px;
    text-decoration-line: underline;
    color: darkolivegreen;
}

h2{
    font-size: 22px;
    color: darkgreen;
}

h3{
    font-size: 16px;
    color: limegreen;
}

/* login_page.php */

.login-page{
    background-color: white;
    align-items: center;
    text-align: center;
    margin: 10vw 20vw 0 20vw;
    border-radius: 10px;
    box-shadow: 0px 3px limegreen;
}

.login-page-logo{
    padding-top: 5vw;
}

.login-form{
    padding-bottom: 5vw;
}

.login-form-msg{
    padding-bottom: 10px;
}

.input-group{
    padding-bottom: 10px;
}

.input-group > input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1;
    border-color: lime;
}

.button{
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(180, 252, 180);
    border-color: limegreen;
    transition: 0.5s;
}

.button-cart{
    border: 2px solid;
    border-color: limegreen;
    text-decoration: none;
    color: black;
}

.error{
    background-color: lightyellow;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
}

.error > h3{
    color: darkolivegreen;
    font-size: 16px;

}

.login-form-links{
    margin-bottom: 5px;
}

/* cart.php */
.generatedCart{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

.generatedCart th{
    background-color: rgb(180, 252, 180);
}

.generatedCart td{
    background-color: lightyellow;
}

.delete{
    border: none;
    background-color: transparent;
    color: tomato;
    cursor: pointer;
}

#order{
    margin-top: 30px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px;
    background-color: darkgreen;
}

/* footer */
#main-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: white;
    border-top: 3px solid limegreen;
    padding: 15px;
    justify-items: center;
}

#footer-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-items: center;
}

#footer-info ul{
    list-style: none;
}

#copyright{
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
}

.page-wrapper{
    min-height:calc(100vh + 2300px);
    position:relative;
}

/* for bigger devices */
@media(min-width: 961px){
    .logo{
        width: 20vw;
    }

    .cart-icon{
        width: 2vw;
    }

    .login{
        margin-top: 0.6vw;
    }

    .parallax{
        height: 30vw;
    }

    .parallax p{
        font-size: 48px;
    }

    .item{
        transition: 0.5s;
    }

    .item:hover{
        transform: scale(1.1);
    }

    .cat-button{
        cursor: pointer;
    }

    .cat-button:hover{
        text-decoration: underline;
    }

    /* searchbox */

    .search-box{
        float: left;
    }

    #search-icon{
        margin-left: 3vw;
    }

    /* aside */

    nav{
        margin-left: 40px;
        width: 180px;
        text-align: left;
    }

    .ul-categories{
        margin-left: 5px;
    }

    h1{
        font-size: 32px;
    }
    
    h2{
        font-size: 26px;
    }
    
    h3{
        font-size: 20px;
    }

    /* login_page.php */

    .login-page{
        margin-left: 30vw;
        margin-right: 30vw;
    }

    .login-page-logo{
        padding-top: 2vw;
    }

    .login-form{
        padding-bottom: 2vw;
        font-size: 20px;
    }

    .button:hover{
        background-color: rgb(0, 255, 0);
        cursor: pointer;
    }

    .input-group > input{
        width: 15vw;
        margin-bottom: 10px;
        font-size: 20px;
    }

    /* cart.php */
    #order{
        border: 1px solid;
        border-color: darkgreen;
        color: darkgreen;
        background-color: transparent;
        transition: 0.5s;
        cursor: pointer;
    }

    #order:hover{
        color: white;
        background-color: darkgreen;
    }

    .page-wrapper{
        min-height:calc(100vh + 180px);
        position:relative;
    }

}